@media only screen 
     and (min-device-width: 320px) 
     and (max-device-width: 479px) {

.wp-container-core-column-is-layout-2 .has-background, .wp-container-core-columns-is-layout-1 .has-background {
width:100%!important;
margin-right:0pximportant;
}
.no-mobile {
display:none!important;
border:1px solid yellow!important;
}
.last-graph {
margin-bottom:50px!important;
}
}

footer {
   margin-top:-1.2rem!important;
}

:where(.wp-site-blocks *:focus){outline-width:2px;outline-style:solid}
